@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    text-align : center;
    font-family: 'Montserrat', 'sans-serif';

}
.link{
    text-decoration: none;
}
.secondary-link{
    margin-top: 1rem;
    background-color:#A21CAF;
    color: white;
    padding: 0.25rem ;
    border-radius:0.5rem;
}
.primary-link{
    margin-top: 1rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
    border: 1px solid #A21CAF;
    color: black;
}
.navigation{
       
    padding: 1rem 1rem 0rem 1rem;
       background-color:#A21CAF;
       color:white;
       padding-bottom: 0.25rem;
   
   }
 .navigation .nav-brand{
    
     font-weight: bold;
 }
 .section {
    padding: 2rem;
    margin: auto;
 
 }
 .section h1 {
     text-align: center;
 }
 .ow {
     background-color: rgba(255, 255, 255, 0.644)
 }