body{
    text-align : center;

}
.link{
    text-decoration: none;
}
.secondary-link{
    margin-top: 1rem;
    background-color:purple;
    color: wheat;
    padding: 0.25rem ;
    border-radius:0.5rem;
}
.navigation{
       
    padding: 1rem 1rem 0rem 1rem;
       background-color:purple;
       color:wheat;
       padding-bottom: 0.25rem;
   
   }
 .navigation .nav-brand{
    
     font-weight: bold;
 }
 .section {
    padding: 2rem;
    margin: auto;
 
 }
 .section h1 {
     text-align: center;
 }
 .ow {
     background-color: rgba(255, 255, 255, 0.644)
 }